@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);
@import 'jeet/index';
$font: 'Open Sans', sans-serif;

$map_blue: #141823;
$geometry_gray: #f9fafb;
$dark_geometry_gray: #f1f1f1;
$red: #FF0000;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


@-ms-viewport{
  width: device-width;
}

* {
	margin:0;
	padding:0;
	font-family: $font;
}



nav{
	width: 100%;
	background: #FF0000;
	opacity: 0.7;
	padding-top : 0.5em;
	padding-bottom: 0.5em;
	z-index: 1;
		img{
			@include center;
		}
}

article{
	background: $map_blue;
		#mapCanvas {
		    width: 100%;
		    height: 70%;
		    float: left;
		  }
		  #infoPanel {
		    float: left;
		    margin-left: 10px;
		  }
		  
		  section{
		  	#markerStatus{
		  		display: none;
		  	}
		  }
}



footer{
	float: right;
	display: block;
	width:100%;
	background: #FF0000;
	opacity: 1;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;

}

